<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-default" (click)="onBack()">
      Back
    </button>
    <button class="btn btn-default pull-right" style="margin-left: 5px" (click)="onDeleteService(service)">
      Delete
    </button>
    <h3>{{ service.name }}</h3>
    <h4>{{ service.token }}</h4>
    <p class="list-group-item-text" style="margin-top: 10px">
      {{ service.scopes }}
    </p>
    <button class="btn btn-success" style="margin-left: 5px" (click)="onLoadPhotos()">
      Load Photos
    </button>
  </div>
</div>
