<div class="row">
  <div *ngIf="segment.distance === 0 && (segment.duration.end-segment.duration.start) >= 900" class=" container-fluid">
    <div class="float-left">

      <h4 class="list-group-item-heading">
        {{ constantsService.formatMovement(segment) }}
      </h4>
      <p class="list-group-item-text">
        Address
      </p>
    </div>

    <p class="list-group-item-text float-right">
      {{ constantsService.formatTime(segment.duration.start) }} - {{ constantsService.formatTime(segment.duration.end) }}
    </p>
  </div>
  <div *ngIf="segment.distance === 0 && (segment.duration.end-segment.duration.start) < 900" style="padding-left: 20px; padding-right: 20px"  class=" container-fluid">
    <div class="float-left">
      <h6 class="list-group-item-heading">
        {{ constantsService.formatMovement(segment) }} - {{ constantsService.formatDuration(segment.duration.end-segment.duration.start) }}
      </h6>
    </div>
  </div>
  <div *ngIf="segment.distance > 0" style="padding-left: 10px; padding-right: 10px"  class=" container-fluid">
    <div class="float-left">
      <h5 class="list-group-item-heading">
        {{ constantsService.formatMovement(segment) }} - {{ constantsService.formatDistance(segment.distance) }}
      </h5>
    </div>
    <p class="list-group-item-text float-right">
      {{ constantsService.formatDuration(segment.duration.end-segment.duration.start) }}
    </p>
  </div>
</div>
