<div class="row">
  <div class="col-xs-12">
    <div class="container">
      <h3>#{{ universe.key }}</h3>
      <p>{{ universe.description }}</p>
      <google-map
                  class="float-left"
                  height="600px"
                  width="1100px"
                  [options]="constantsService.mapOptions">
        <map-marker [position]="currentPosition"
                    [options]="currentPositionOptions"></map-marker>
        <map-marker *ngFor="let markerPosition of markerPositions"
                    [position]="markerPosition"
                    [options]="markerOptions"></map-marker>
      </google-map>
    </div>
    <div class="container">
      <button class="btn btn-secondary" (click)="onResumeSearch()" >More</button>
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <button class="btn btn-primary" type="submit" [disabled]="searchForm.invalid">Search</button>

        <h3>General</h3>

        <div class="form-group">
          <label>Calls</label>
          <input type="number" class="form-control"  formControlName="loads">
        </div>
        <div class="form-group">
          <label>Chunk</label>
          <input type="number" class="form-control"  formControlName="step">
        </div>
        <div formGroupName="geospatiality" class="from-group">

          <h3>Geospatiality</h3>

          <div formGroupName="origin" class="from-group">
            <label>Origin :</label>
            <input type="number" class="form-control" style="margin: 5px" formControlName="lat">
            <input type="number" class="form-control" style="margin: 5px" formControlName="lng">
          </div>

          <label> Ratio :</label>
          <input type="number" class="form-control" style="margin: 5px" formControlName="ratio">

          <label> Distance :</label>
          <input type="number" class="form-control" style="margin: 5px" formControlName="distance">

          <div formGroupName="direction" class="from-group">
            <label> Direction :</label>
            <input type="number" class="form-control" style="margin: 5px" formControlName="min">
            <input type="number" class="form-control" style="margin: 5px" formControlName="max">
          </div>

        </div>
        <div formGroupName="temporality" class="from-group">

          <h3>Temporality</h3>

          <label>Origin :</label>
          <input type="number" class="form-control" style="margin: 5px" formControlName="origin">

          <label> Ratio :</label>
          <input type="number" class="form-control" style="margin: 5px" formControlName="ratio">

          <label> Distance :</label>
          <input type="number" class="form-control" style="margin: 5px" formControlName="distance">

          <label> Direction :</label>
          <input type="number" class="form-control" style="margin: 5px" formControlName="direction">

        </div>
      </form>
    </div>
  </div>
</div>
