<div class="row">
  <div class="col-xs-12">
    <div class="container">
      <button class="btn btn-default" (click)="onBack()">
        Back
      </button>
      <button class="btn btn-default float-right" style="margin-left: 5px" (click)="onDeleteUniverse(universe)">
        Delete
      </button>
      <button class="btn btn-primary float-right" (click)="onViewUniverse(universe)">
        Details
      </button>
    </div>
    <div class="container">
      <h3>#{{ universe.key }}</h3>
      <p>{{ universe.description }}</p>
      <google-map *ngIf="connected"
                  class="float-left"
                  height="500px"
                  width="700px"
                  [options]="constantsService.mapOptions">
        <map-marker [position]="currentPosition"
                    [options]="currentPositionOptions"></map-marker>
        <map-marker *ngFor="let markerPosition of markerPositions"
                    [position]="markerPosition"
                    [options]="markerOptions"></map-marker>
      </google-map>
      <div class="list-group float-right" id="elements" style="max-height: 500px; overflow:scroll;" (scroll)="onScroll($event)">
        <button class="list-group-item" style="margin-bottom: 10px" *ngFor="let photo of photos" (click)="onViewPhoto(photo)">
          <h4 class="list-group-item-heading">
            {{ photo.title }}
          </h4>
          <h5 class="list-group-item-text">
            {{ photo.author }}
          </h5>
          <p class="list-group-item-text" style="margin-top: 10px">
            Geospatiality : [{{ photo.geospatiality }}]
          </p>
          <p class="list-group-item-text">
            Temporality : {{ photo.temporality }}
          </p>
        </button>
        <button class="list-group-item" style="margin-bottom: 10px" *ngFor="let position of positions">
          <h4 class="list-group-item-heading">
            {{ position._id }}
          </h4>
          <p class="list-group-item-text" style="margin-top: 10px">
            Geospatiality : [{{ position.geospatiality }}]
          </p>
          <p class="list-group-item-text">
            Temporality : {{ position.temporality * 1000 | date:'dd/MM/yyyy hh:mm:ss' }}
          </p>
        </button>
      </div>
    </div>
    <div class="container">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <button class="btn btn-primary" type="submit" [disabled]="searchForm.invalid">Search</button>

        <h3>General</h3>

        <div class="form-group">
          <label>Loads</label>
          <input type="number" class="form-control"  formControlName="loads">
        </div>
        <div class="form-group">
          <label>Step</label>
          <input type="number" class="form-control"  formControlName="step">
        </div>
        <div formGroupName="geospatiality" class="from-group">

          <h3>Geospatiality</h3>

          <div formGroupName="origin" class="from-group">
            <label>Origin :</label>
            <input type="number" class="form-control" style="margin: 5px" formControlName="lat">
            <input type="number" class="form-control" style="margin: 5px" formControlName="lng">
          </div>

          <label> Ratio :</label>
          <input type="number" class="form-control" style="margin: 5px" formControlName="ratio">

          <label> Distance :</label>
          <input type="number" class="form-control" style="margin: 5px" formControlName="distance">

          <div formGroupName="direction" class="from-group">
            <label> Direction :</label>
            <input type="number" class="form-control" style="margin: 5px" formControlName="min">
            <input type="number" class="form-control" style="margin: 5px" formControlName="max">
          </div>

        </div>
        <div formGroupName="temporality" class="from-group">

          <h3>Temporality</h3>

          <label>Origin :</label>
          <input type="number" class="form-control" style="margin: 5px" formControlName="origin">

          <label> Ratio :</label>
          <input type="number" class="form-control" style="margin: 5px" formControlName="ratio">

          <label> Distance :</label>
          <input type="number" class="form-control" style="margin: 5px" formControlName="distance">

          <label> Direction :</label>
          <input type="number" class="form-control" style="margin: 5px" formControlName="direction">

        </div>
      </form>
    </div>
  </div>
</div>
