<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <button class="btn btn-default" (click)="onBack()">Back</button>
    <h2>Upload your data</h2>
    <div class="form-group">
      <button class="btn btn-success" type="button" (click)="filePicker.click()">Browse</button>
      <input type="file" #filePicker (change)="onFilePick($event)" style="display:none;" >
      <span style="margin-left: 10px; font-weight: bold">{{ file.name }} ({{ file.size/1024/1024 - file.size/1024/1024 % 1 }} MB)</span>
    </div>
    <h3>{{ file.name }}</h3>
    <h4>{{ file.signature }}</h4>
    <h4>Progress : {{ (file.processed / file.total) * 100 }}%</h4>
    <button class="btn btn-success" type="button" (click)="onUpload()" [disabled]="disabled" *ngIf="creation">Upload</button>
    <button class="btn btn-success" type="button" (click)="onContinue()" [disabled]="disabled" *ngIf="!creation">Continue</button>
    <button class="btn btn-default" type="button" (click)="onStop()" [disabled]="!disabled" >Stop</button>
  </div>
</div>

