<div class="row">
  <div class="col-xs-12">
    <div class="container">
      <h2>Itinerary</h2>
      <button class="btn btn-primary" (click)="onPreviousDay()">Previous</button>
      <button class="btn btn-primary" style="margin-left: 10px" (click)="onNextDay()">Next</button>
    </div>
    <div class="container" style="margin-top: 10px" >
      <div class="list-group pull-left" style="max-height: 600px; width: 680px; overflow:scroll;">
        <button class="list-group-item" *ngFor="let segment of segments" >
          <div *ngIf="segment.distance === 0 && (segment.duration.end-segment.duration.start) >= 900">
            <div class="pull-left">

              <h4 class="list-group-item-heading">
                {{ formatMovement(segment) }}
              </h4>
              <p class="list-group-item-text">
                Address
              </p>
            </div>

            <p class="list-group-item-text pull-right">
              {{ formatTime(segment.duration.start) }} - {{ formatTime(segment.duration.end) }}
            </p>
          </div>
          <div *ngIf="segment.distance > 0" style="padding-left: 10px; padding-right: 10px">
            <div class="pull-left">
              <h5 class="list-group-item-heading">
                {{ formatMovement(segment) }} - {{ formatDistance(segment.distance) }}
              </h5>
            </div>
            <p class="list-group-item-text pull-right">
              {{ formatDuration(segment.duration.end-segment.duration.start) }}
            </p>
          </div>
          <div *ngIf="segment.distance === 0 && (segment.duration.end-segment.duration.start) < 900" style="padding-left: 20px; padding-right: 20px">
            <div class="pull-left">
              <h6 class="list-group-item-heading">
                {{ formatMovement(segment) }} - {{ formatDuration(segment.duration.end-segment.duration.start) }}
              </h6>
            </div>
          </div>

        </button>
      </div>
      <google-map class="pull-right" width="450px" height="600px"
                  [options]="constantsService.mapOptions">
        <map-marker *ngFor="let marker of markers"
                    [position]="marker"
                    [options]="markerOptions"></map-marker>
        <map-polyline *ngFor="let border of polylineBorders"
                      [path]="border"
                      [options]="polylineBorderOptions"></map-polyline>
        <map-polyline *ngFor="let polyline of polylines"
                      [path]="polyline"
                      [options]="polylineOptions"></map-polyline>
      </google-map>
    </div>
    <div class="container">
      <h2>Photos</h2>
      <div class="row">
        <div *ngFor="let photos of gallery" class="column">
          <img *ngFor="let photo of photos" src="{{ photo.url }}" (click)="onViewPhoto(photo)"/>
        </div>
      </div>
    </div>


    <div class="list-group">
      <button class="list-group-item" *ngFor="let universe of universes" (click)="onSearchUniverse(universe)" >
        <h3 class="list-group-item-heading">
          #{{ universe.key }}
        </h3>
        <p class="list-group-item-text">
          {{ universe.description }}
        </p>
      </button>
    </div>
    <button class="btn btn-primary" (click)="onNewUniverse()">Create</button>
  </div>
</div>
