<div class="row">
  <div class="col-xs-12">
    <div class="container">
      <h2>Timeline</h2>
      <button class="btn btn-primary" (click)="onPreviousDay()">Previous</button>
      <button class="btn btn-primary" style="margin-left: 10px" (click)="onNextDay()">Next</button>
    </div>
    <div *ngFor="let activity of activities">
      <app-segment [segment]="activity.segment"></app-segment>
      <div *ngFor="let content of activity.contents" class="float-left container" style="margin-bottom: 10px">
        <app-photos *ngIf="content.type === 'Photo'" [source]="getContextSource('photo')" [photos]="content.data"></app-photos>
        <app-musics *ngIf="content.type === 'Music'" [source]="getContextSource('music')" [musics]="content.data"></app-musics>
        <app-watches *ngIf="content.type === 'Watch'" [source]="getContextSource('watch')" [watches]="content.data"></app-watches>
        <app-websites *ngIf="content.type === 'Website'" [source]="getContextSource('website')" [websites]="content.data"></app-websites>
      </div>
    </div>
  </div>
</div>
